<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oxford PWA</title>
  <meta name="codelab" content="your-first-pwa-v3">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- CODELAB: Add link rel manifest -->
  <!-- CODELAB: Add iOS meta tags and icons -->
  <!-- CODELAB: Add description here -->
  <!-- CODELAB: Add meta theme-color -->

</head>

<body>

  <header class="header">
    <h1>
      Oxford Dictionary PWA
    </h1>
    <button id="butInstall" aria-label="Install" hidden></button>
  </header>
 

  <main class="main">

  
    <div class="container mt-5 mb-5">
      <router-outlet></router-outlet>
    </div>
   <!-- <app-word-search></app-word-search> -->


    <!-- CODELAB: Add the install script here -->
    <script>
    // CODELAB: Register service worker.
    </script>